services:

  middleware:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fiscalize-middleware
    restart: unless-stopped

    env_file:
      - .env

    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - TZ=America/Sao_Paulo

    # Usa a rede do host diretamente (localhost funciona normalmente)
    network_mode: host

    # Logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
