[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "ipykernel>=6.29.5",
    "polars>=1.35.2",
    "psycopg2-binary>=2.9.11",
    "pandas>=2.2.0",
    "tabulate>=0.9.0",
]
